USE [master]
GO
/****** Object:  Database [AutoParkDB]    Script Date: 20.05.2026 22:16:50 ******/
CREATE DATABASE [AutoParkDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AutoParkDB', FILENAME = N'D:\SQLServer\MSSQL17.MSSQLSERVER\MSSQL\DATA\AutoParkDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AutoParkDB_log', FILENAME = N'D:\SQLServer\MSSQL17.MSSQLSERVER\MSSQL\DATA\AutoParkDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AutoParkDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AutoParkDB]
GO
/****** Object:  Table [dbo].[Abonements]    Script Date: 20.05.2026 22:16:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abonements](
	[AbonementId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[ValidDays] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AbonementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 20.05.2026 22:16:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[CarNumber] [nvarchar](20) NOT NULL,
	[CarBrand] [nvarchar](50) NULL,
	[AbonementId] [int] NULL,
	[AbonementStartDate] [date] NULL,
	[AbonementEndDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingSessions]    Script Date: 20.05.2026 22:16:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingSessions](
	[SessionId] [int] IDENTITY(1,1) NOT NULL,
	[CarNumber] [nvarchar](20) NOT NULL,
	[CarBrand] [nvarchar](50) NULL,
	[ClientId] [int] NULL,
	[EntryTime] [datetime] NOT NULL,
	[ExitTime] [datetime] NULL,
	[TotalCost] [decimal](10, 2) NULL,
	[IsPaid] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 20.05.2026 22:16:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [int] NOT NULL,
	[CarNumber] [nvarchar](20) NOT NULL,
	[EntryTime] [datetime] NOT NULL,
	[ExitTime] [datetime] NOT NULL,
	[DurationHours] [decimal](10, 2) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tariffs]    Script Date: 20.05.2026 22:16:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tariffs](
	[TariffId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[PricePerHour] [decimal](10, 2) NOT NULL,
	[IsNightTariff] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TariffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20.05.2026 22:16:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Abonements] ON 

INSERT [dbo].[Abonements] ([AbonementId], [Name], [Price], [ValidDays]) VALUES (1, N'Месячный', CAST(3000.00 AS Decimal(10, 2)), 30)
SET IDENTITY_INSERT [dbo].[Abonements] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientId], [FullName], [Phone], [Email], [CarNumber], [CarBrand], [AbonementId], [AbonementStartDate], [AbonementEndDate]) VALUES (1, N'Ковалев Петр Владимирович', N'79962662319', N'', N'Ф123ЫЫ', N'', 1, CAST(N'2026-05-14' AS Date), CAST(N'2026-06-13' AS Date))
INSERT [dbo].[Clients] ([ClientId], [FullName], [Phone], [Email], [CarNumber], [CarBrand], [AbonementId], [AbonementStartDate], [AbonementEndDate]) VALUES (2, N'Еськова Анастасия Алеевна', N'7756775674', N'', N'В233ЫЫ', N'', 1, CAST(N'2026-05-14' AS Date), CAST(N'2026-06-13' AS Date))
INSERT [dbo].[Clients] ([ClientId], [FullName], [Phone], [Email], [CarNumber], [CarBrand], [AbonementId], [AbonementStartDate], [AbonementEndDate]) VALUES (3, N'Иванов Иван Иванович', N'+79965675656', N'', N'Ы324ФФ23', N'', 1, CAST(N'2026-05-14' AS Date), CAST(N'2026-06-13' AS Date))
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[ParkingSessions] ON 

INSERT [dbo].[ParkingSessions] ([SessionId], [CarNumber], [CarBrand], [ClientId], [EntryTime], [ExitTime], [TotalCost], [IsPaid]) VALUES (1, N'Ф123ЫЫ', N'Додж', 1, CAST(N'2026-04-13T22:23:23.177' AS DateTime), CAST(N'2026-04-13T22:23:50.913' AS DateTime), CAST(0.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[ParkingSessions] ([SessionId], [CarNumber], [CarBrand], [ClientId], [EntryTime], [ExitTime], [TotalCost], [IsPaid]) VALUES (2, N'UI8768776', N'Додж', 1, CAST(N'2026-04-13T22:26:11.683' AS DateTime), CAST(N'2026-04-13T22:27:51.543' AS DateTime), CAST(0.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[ParkingSessions] ([SessionId], [CarNumber], [CarBrand], [ClientId], [EntryTime], [ExitTime], [TotalCost], [IsPaid]) VALUES (3, N'234234234', N'Lada', 2, CAST(N'2026-05-14T14:56:06.863' AS DateTime), CAST(N'2026-05-14T15:57:37.103' AS DateTime), CAST(0.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[ParkingSessions] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentId], [SessionId], [CarNumber], [EntryTime], [ExitTime], [DurationHours], [Amount], [PaymentDate]) VALUES (1, 1, N'Ф123ЫЫ', CAST(N'2026-04-13T22:23:23.177' AS DateTime), CAST(N'2026-04-13T22:23:50.913' AS DateTime), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(N'2026-04-13T22:23:50.913' AS DateTime))
INSERT [dbo].[Payments] ([PaymentId], [SessionId], [CarNumber], [EntryTime], [ExitTime], [DurationHours], [Amount], [PaymentDate]) VALUES (2, 2, N'UI8768776', CAST(N'2026-04-13T22:26:11.683' AS DateTime), CAST(N'2026-04-13T22:27:51.543' AS DateTime), CAST(0.02 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(N'2026-04-13T22:27:51.543' AS DateTime))
INSERT [dbo].[Payments] ([PaymentId], [SessionId], [CarNumber], [EntryTime], [ExitTime], [DurationHours], [Amount], [PaymentDate]) VALUES (3, 5, N'ЫВВЫА', CAST(N'2026-05-14T15:03:40.710' AS DateTime), CAST(N'2026-05-14T15:52:32.430' AS DateTime), CAST(0.81 AS Decimal(10, 2)), CAST(121.94 AS Decimal(10, 2)), CAST(N'2026-05-14T15:52:32.430' AS DateTime))
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Tariffs] ON 

INSERT [dbo].[Tariffs] ([TariffId], [Name], [PricePerHour], [IsNightTariff]) VALUES (1, N'Дневной', CAST(150.00 AS Decimal(10, 2)), 0)
SET IDENTITY_INSERT [dbo].[Tariffs] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Login], [PasswordHash], [FullName], [Role], [IsActive], [CreatedAt]) VALUES (1, N'admin', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', N'Администратор', N'Admin', 1, CAST(N'2026-04-13T20:59:39.497' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Login], [PasswordHash], [FullName], [Role], [IsActive], [CreatedAt]) VALUES (2, N'operator', N'603e7a9f42e8d8a8f8b7d8e8f8a8b8c8d8e8f8a8b8c8d8e8', N'Оператор Петров', N'Operator', 1, CAST(N'2026-04-13T20:59:39.500' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825B6A5EBE70]    Script Date: 20.05.2026 22:16:51 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ParkingSessions] ADD  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Tariffs] ADD  DEFAULT ((0)) FOR [IsNightTariff]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD FOREIGN KEY([AbonementId])
REFERENCES [dbo].[Abonements] ([AbonementId])
GO
ALTER TABLE [dbo].[ParkingSessions]  WITH CHECK ADD FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([ClientId])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([SessionId])
REFERENCES [dbo].[ParkingSessions] ([SessionId])
GO
USE [master]
GO
